<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Riden.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <Riden.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value />
      </setting>
      <setting name="Baudrate" serializeAs="String">
        <value />
      </setting>
      <setting name="ControlsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DialogPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DialogSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Riden.Properties.Settings>
  </userSettings>
</configuration>
